<!-- <footer class="footer-section">
    <div class="container">
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <p>Copyright &copy; 2020, All Right Reserved AutoBuds3</p>
                <div class="col align-self-center">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2020, All Right Reserved AutoBuds3
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> -->

<footer class="copyright-area">
    <div class="copyright-text">
        <p>Copyright &copy; 2020, All Right Reserved AutoBuds3</p>
    </div>
</footer>