<!-- <img src="assets/primeng.svg" height="40" class="p-mr-2" alt="image"> -->

<p-menubar [model]="items"  [style.text-align] = "'center'">
    <ng-template pTemplate="start">
        Autobuds3
        <!-- <img src="assets/primeng.svg" height="40" alt="image"> -->
    </ng-template>
</p-menubar>


<hr>

<p-menubar>
    <ng-template pTemplate="start">
        Autobuds3
    </ng-template>
    <ng-template pTemplate="end">
        <p-menuitem>Home</p-menuitem>
        <p-menuitem>Library</p-menuitem>
        <p-menuitem>Contact Us</p-menuitem>
    </ng-template>
</p-menubar>
