<div class="p-grid teamGrid">
    <div class="p-md-4 p-col-12 p-sm-12" *ngFor = "let team of teams" >
        <p-card class="teamCard" (click)="showMemberDialog(team)">
                <p >{{team.name}}</p>
        </p-card>
    </div>
</div>


<p-dialog header="Profile" [(visible)]="displayMember" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="card profile-card-1 col-md-6 align-self-center">
        <img src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb" alt="profile-sample1" class="background"/>
        <img src="https://www.logolynx.com/images/logolynx/97/97e88682fa82ed11f3bf96dcf8479635.png" alt="profile-image" class="profile"/>
        <div class="card-content">
        <h2>abc<small>Designation: dig</small></h2>
        <h2><small>Employee Id: 123</small></h2>
        </div>
    </div>
    <div *ngIf = "displayMember">{{profile.empid}}</div>
    <div *ngIf = "displayMember">{{profile.name}}</div>
    <div *ngIf = "displayMember">{{profile.designation}}</div>
    <div *ngIf = "displayMember">{{profile.experience}}</div>
    <div *ngIf = "displayMember">{{profile.skills}}</div>
    <div *ngIf = "displayMember">{{profile.bio}}</div>
    <div *ngIf = "displayMember">{{profile.address}}</div>
    <div *ngIf = "displayMember">{{profile.facebook}}</div>
    <div *ngIf = "displayMember">{{profile.github}}</div>
    <div *ngIf = "displayMember">{{profile.linkedin}}</div>
</p-dialog>

<p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Add Member"></p-button>
<p-dialog header="Add Team Member" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
        <app-add-member></app-add-member>
</p-dialog>





