<div class="p-grid">
    <div class="p-md-4 p-sm-6">
        <p-card>
            <div  class=" p-d-flex p-ac-center p-flex-column" >
                <p-header>Content</p-header>
                <button pButton type="button" label="Click" label="Profile" class="p-button-info"></button>
            </div>
        </p-card>
    </div>
    <div class="p-md-4 p-sm-6">
        <p-card >
            Content
        </p-card>
    </div>
    <div class="p-md-4 p-sm-6">
        <p-card>
            Content
        </p-card>
    </div>
</div>





