<div class="p-grid">
    <div class="p-md-4 p-sm-6" *ngFor = "let team of teams" >
        <p-card >
            <div  class=" p-d-flex p-ac-center p-flex-column" >
                <p-header>{{team.empid}}</p-header>
                <p-header>{{team.details.name}}</p-header>
                <button pButton type="button" label="Click" label="Profile" class="p-button-info"></button>
            </div>
        </p-card>
    </div>
</div>

<p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Show"></p-button>
<p-dialog header="Add Team Member" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
        <app-add-member></app-add-member>
        <!-- <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Yes" styleClass="p-button-text"></p-button>
        </ng-template> -->
</p-dialog>





