
<form [formGroup]="form">
    <div class="p-fluid">
        <div class="p-field">
            <div class =form-group>
                <input formControlName = "name" type = "text" placeholder = "Name" pInputText>
            </div>
            <div class = "validators" *ngIf ="form.touched">
                <span>
                    <i class="fa fa-times-circle" style = "color: firebrick;" *ngIf = "form.controls.name.invalid" ></i>
                    <i class="fa fa-check-circle" style = "color: green;" *ngIf = "form.controls.name.valid" ></i>
                    Username should be minimum 4 characters long
                </span>
            </div>
        </div>
        <div class="p-field">
            <div class =form-group>
                <input  formControlName = "empid" type = "text" placeholder = "EmpId" pInputText>
            </div>
            <div class = "validators" *ngIf ="form.touched">
                <span>
                    <i class="fa fa-times-circle" style = "color: firebrick;" *ngIf = "form.controls.empid.invalid" ></i>
                    <i class="fa fa-check-circle" style = "color: green;" *ngIf = "form.controls.empid.valid" ></i>
                   Empid must me a number
                </span>
            </div>
        </div>
        <div class="p-field">
            <div class =form-group>
                <input formControlName = "email" type = "text" placeholder = "Email" pInputText>
            </div>
            <div class = "validators" *ngIf ="form.touched">
                <span>
                    <i class="fa fa-times-circle" style = "color: firebrick;" *ngIf = "form.controls.email.invalid" ></i>
                    <i class="fa fa-check-circle" style = "color: green;" *ngIf = "form.controls.email.valid" ></i>
                   Must be a proper Email
                </span>
            </div>
        </div>
        <div class="p-field">
            <div class =form-group>
                <input formControlName = "phone" type = "text" placeholder = "Phone Number" pInputText>
            </div>
            <div class = "validators" *ngIf ="form.touched">
                <span>
                    <i class="fa fa-times-circle" style = "color: firebrick;" *ngIf = "form.controls.phone.invalid" ></i>
                    <i class="fa fa-check-circle" style = "color: green;" *ngIf = "form.controls.phone.valid" ></i>
                   Phone number must contain exactly 10 digits                   
                </span>
            </div>
        </div>
        <div class="p-field">
            <div class =form-group>
                <textarea  formControlName = "address" rows="5" cols="30" pInputTextarea placeholder="Address" ></textarea>
            </div>
        </div>
        <div class="p-field">
            <div class =form-group>
                <input formControlName = "designation" type = "text" placeholder = "Designation" pInputText>
            </div>
            <div class = "validators" *ngIf ="form.touched">
                <span>
                    <i class="fa fa-times-circle" style = "color: firebrick;" *ngIf = "form.controls.designation.invalid" ></i>
                    <i class="fa fa-check-circle" style = "color: green;" *ngIf = "form.controls.designation.valid" ></i>
                   Enter your designation                   
                </span>
            </div>
        </div>
        <div class="p-field">
            <div class =form-group>
                <input  formControlName = "experience" type = "text" placeholder = "Experience" pInputText>
            </div>
        </div>
        <div class="p-field">
            <div class =form-group>
                <input formControlName = "skills" type = "text" placeholder = "Technical Skills" pInputText>
            </div>
        </div>
        <div class="p-field">
            <div class =form-group>
                <textarea ormControlName = "bio" rows="5" cols="30" pInputTextarea placeholder="Biography" ></textarea>
            </div>
        </div>
        <div class="p-field">
            <div class =form-group>
                <input  formControlName = "github" type = "text" placeholder = "GitHub-ID" pInputText>
            </div>
        </div>
        <div class="p-field">
            <div class =form-group>
                <input formControlName = "facebook" type = "text" placeholder = "Facebook-ID" pInputText>
            </div>
        </div>
        <div class="p-field">
            <div class =form-group>
                <input formControlName = "linkedin" type = "text" placeholder = "LinkedIn-ID" pInputText>
            </div>
        </div>
        <div class="submit-button">
            <button type="button" class="btn btn-primary btn-lg" [disabled] = "!form.valid" (click)="onAddMember()">Submit</button>
            <!-- <p-button label="Submit" [disabled] = "!form.valid" (click)="onAddMember()"></p-button> -->
        </div> 
    </div>     
</form>


