
body{
    margin:0px;
    padding:0px;
    font-family: "Montserrat"; 
}

h2 { 
    color: #ff9f00;
}

.p-listbox .p-listbox-list .p-listbox-item .p-highlight {
    background-color: #ffffff !important;
}

.text-orange{
    color:#ff9f00;
}

.text-navy{
    color: #141633;
}

.text-ocean{
    color: #00A8EB;
}

.bold {
    font-weight: 900;
}
